body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 650px;
    margin: auto;
    border: 10px double blue;
    padding: 09px;

}
/*HTML background color*/
html{
    background-color: yellow;
}

/*Body background color*/
body{
    background-color: white;
}

/*Main*/
main{
    padding: 15px;
}

/*Head Elements*/
h1{
    font-size: 150%;
    color:blue;
    margin: auto;
}

h2{
    font-size: 125%;
    line-height: 2px;
}

h3{
    font-size: 115%;
}

/*Bullet Points*/
li{
    margin: 5px 0;
    text-align: left;
  margin-left: -20px;
}

/*Quotations*/
blockquote{
    margin-left: -2px;
    margin-right: 20px;
    
}

cite{
    color: blue;
    text-align: right;
    display: block;
    font-style: normal;
}


/*Float Paragraph around image*/
img {
    float: left;
    margin-right: 14px;
    margin-bottom: 10px;
}


/*Footer*/
footer{
    border-top: 4px solid blue;
    text-align: center;
    font-weight: bold;
    font-size: 90%
}